extends layout

block append head

block content
  div#ChatMes
    header#chatM
      h1 CHAT ROOM
    section#chatroom
      div#messages
      div#inputSend
        input#message(type='text', placeholder='Enter your message here')
        input#send(type='button', value='send')
